.sideBar{
    width: 20vw;
    height: 100vh;
    background-color: #5e5e5e;
}

.sideBar > div{
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

.btnsize{
    width: 10vw;
    height: 5vh;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btnsize:hover{
    background-color: lightgray;
    transform: scale(1.2);
    transition: transform 0.2s ease;
    border-radius: 5px;
    border: none;
}

.mainContent{
    width: 80vw;
    height: 100vh;  
    display: flex;
    flex-direction: column;
    background-color: #F3E8DE;
}

.mainContent > header{
    width: 80vw;
    background-color: #F3E8DE;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid gray 2px;
}

.mainContent > div{
    width: 80vw;
    height: 83vh;
}

.mainContent > footer{
    width: 100vw;
    height: 10vh;
    background-color: #5e5e5e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.mainContent{
    display: flex;
    align-items: center;
    flex-direction: column;
}